/* Fonts */

h1, h2, h3, h4			{font-family: 'Fira Sans', sans-serif;}
p						{font-family: 'Open Sans', sans-serif; font-size:1.08em;}

ul {
    list-style-type: none;
	padding-inline-start: 15px;
	padding-top: 5px;
	padding-right:5px;
}

a 		{color:#2d4c7d; text-decoration:underline; font-size:1.08em;}
a:hover {background-color:#ebedad; border-bottom:2px solid black; color:black; text-decoration:none;}

a.special-link {text-decoration: none;}
a.special-link:hover {background-color:transparent; border:none; text-decoration:none;}



/* Text styling */
strong					{font-weight: 900;}

/* Headbar custom styles*/
.headbar 				{background-color:#006F51; border-bottom: 10px solid #A9C47F;}
.headbar-margin			{background-color:#006F51; border-bottom: 10px solid #FFFFFF;}
.headbar-title 			{color:#ffffff; font-size:2em; font-weight:900; font-family: 'Fira Sans', sans-serif;}
.headbar-text,	
a.headbar-text:hover, 
a.headbar-title:hover	{color:white; text-decoration:none; font-family: 'Fira Sans', sans-serif;}

/* Project page */
.project-title			{font-family: 'Open Sans', sans-serif; font-weight:900; font-size:3em; margin-bottom:15px;} 
.project-new			{background-color:#00719E; color:white; font-size:0.5em; padding: 5px; border-radius:5px;}
.section				{font-family: 'Open Sans', sans-serif; font-weight:800; font-size:1.5em; margin-bottom:15px;} 


.desc-para				{border:1px solid #939e91; background-color:#f7fffd; padding:10px; margin:0; margin-bottom:15px; border-radius:5px;}
.programme				{border:1px solid #939e91; background-color:#e6e8e6; padding:10px; margin:0; margin-bottom:15px; border-radius:5px;}
.infobox				{border:1px solid #939e91; padding:10px; margin:0; margin-bottom:15px; border-radius:5px;}

.lead-box, .key-contact	{border: 1px solid #939e91; padding:10px; margin:0 15px 15px 0; border-radius:5px;}
.lead-box				{background-color:#f7fffd;}
.key-contact			{background-color:#ffffff;}

.heading-medium			{font-size:1.5em; font-weight:900; margin:10px 0 0;}
.heading-small			{font-size:1em; font-weight:900; margin:10px 0 0;}

.small-flag				{font-weight:600; font-size:1em; display: inline-block; color:black; border: 1px solid #939e91;  text-transform: none; padding: 5px 20px; border-radius:5px; margin-bottom:15px;}
.rag-red				{background-color:#D0012A; color: white;}
.rag-redamb				{background-color:#fc6703; color: black;}
.rag-amb				{background-color:#FDBE12; color: black;}
.rag-ambgre				{background-color:#EBFE95; color: black;}
.rag-gre				{background-color:#3C7E02; color: white;}
.rag-nor				{background-color:#5E5E5E; color: white;}

.phase 					{border-radius: 5px; min-height: 150px; max-height: 300px; border: 1px solid #5E5E5E;}
.phase0  				{background-color:#2E358B}
.phase1 				{background-color:#912B88;}
.phase2	    			{background-color:#C62A73;}
.phase3      			{background-color:#C03F0C;}
.phase4      			{background-color:#5D6D36;}
.phase5      			{background-color:#454545;}
.phase-label 			{position:absolute; top:50%; left:0; width:100%; margin-top:-25px; text-align:center; color:white; font-weight:800;  font-size:36px;}
.beta-tag				{display: inline-block;  margin: 0 8px 0 0;  padding: 2px 5px 0; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; color: #fff; background-color: #005ea5;}

	



.update-button			{border: 1px solid black; color:black; padding:5px 10px; margin:10px; background-color:white; border-radius:5px;}
.update-button:hover	{border: 1px solid green; color:white; background-color:green;}
.delete-button			{border: 1px solid black; color:black; padding:5px 10px; margin:10px; background-color:white; border-radius:5px;}
.delete-button:hover	{border: 1px solid red; color:white; background-color:red;}

.general-button			{border: 1px solid black; color:black; padding:5px 10px; margin:10px; background-color:white; border-radius:5px;}
.general-button:hover	{border: 1px solid #006F51; color:white; background-color:#006F51;}

.doc-buttons, .milestone-buttons				{border: 1px solid #939e91; color:black; padding:5px 10px; margin:10px; background-color:#f3f7f0; border-radius:5px;}
.doc-buttons:hover, .milestone-buttons:hover	{border: 1px solid #939e91; color:black; background-color:white;}

#myList li{display:none;}

ul.updates {margin-left: 0; padding-left:0}


/* Style the buttons that are used to open and close the accordion panel */
.accordion 				{cursor: pointer;  transition: 0.4s;  margin-right:15px;}
.arrow 					{border: solid #939e91;  border-width: 0 5px 5px 0;  display: inline-block;  padding: 5px;}
.down					{transform: rotate(45deg);  -webkit-transform: rotate(45deg);}
.up 					{transform: rotate(-135deg);  -webkit-transform: rotate(-135deg);}

/*Summary page*/
.summ_links {text-decoration:none;}

.tag {
  color:white !important;
  font-weight:700;
  padding:0.25em;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
}
.tag.phase0 {background-color:#2E358B;}
.tag.phase1	{background-color:#912B88;}
.tag.phase2 {background-color:#C62A73;}
.tag.phase3 {background-color:#C03F0C;}
.tag.phase4 {background-color:#5D6D36;}

.big_number {
  font-size:96px;
  font-weight:600;
  text-align:center;
}

.txt-phase0  {color:#2E358B;}
.txt-phase1  {color:#912B88;}
.txt-phase2  {color:#C62A73;}
.txt-phase3  {color:#C03F0C;}
.txt-phase4  {color:#5D6D36;}

.project-summary-data {
	font-family: Fira Sans;
	font-size: 0.7em;
}
.project-summary-data label {
	font-weight: bold;
	margin-bottom: 2px;
}



/* Lists of links */

.link-list {
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:5px;
  background-color:#f8f8f8;
  border-left:5px solid transparent;
}

	.link-list li {
		margin-top: 1em;
		margin-bottom: 1em;
	}

		.link-list li:after {
			margin-top: 1em;
			content: "";
			display: block;
			height: 1px;
			background: rgba(0,0,0,.1);
		}
		.link-list li:last-child:after {
			background: rgba(0,0,0,0);
		}

.border-phase0   	{border-color:#2E358B;}
.border-phase1 		{border-color:#912B88;}
.border-phase2     	{border-color:#C62A73;}
.border-phase3      {border-color:#C03F0C;}
.border-phase4      {border-color:#5D6D36;}

.nodec {color:black; text-decoration:none;}

.new_tag {background-color:#00719E; color:white; font-size:10px; padding 3px; border-radius:3px;}

.service-area {
  border-bottom:1px solid $border-colour;
  margin-bottom:10px;

}

.anchors {  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-weight:900;}
.anchors:hover {text-decoration:none; color:black;}


/* Landing */
.landing_box {
	width: calc(33% - 25px);
	min-height:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	margin-right: 25px;
	margin-bottom:25px;
	
	background-color: #e8fcf7;
	border: 2px solid #006F51;;
}

.landing_link {
	color:black;
	font-size:1.5em;
	font-weight:900;
	text-decoration:none;
	padding:35px;
}
.landing_link:hover {
	color:black;
	text-decoration:none;
}


/* Label Config Page */
.portfolio-field-group {
	margin-bottom: 4em;
}

	.portfolio-field-group-header, .portfolio-field-group h2 {
		margin-bottom: 1em;
	}


/* Add project page */
div.project-field-group {
	margin-bottom: 4em;
}

div.project-field-group h2 {
	margin-bottom: 1em;
}

div.last-update-text
{
	margin-top: 1em;
	font-size: 0.9em;
}

.bootstrap-select .filter-option {
	white-space: normal;
	color:black;
}

.form-input-box  		{background-color:#f3f7f0; color:black; border:1px solid #939e91; }
.form-input-box:hover 	{background-color:white; border-color:black;}
.form-input-box::placeholder {color:black;}

.dropdown-item:hover {border:0; color:black; background-color:#ebedad;}

.input-group-text		{background-color:#f3f7f0; border:1px solid #939e91; color:black;} 

#id_project_id {border:0; background-color:white;}
#id_project_id:hover {border:0; background-color:white;}


