<!-- Top navigation bar -->
<div class="row">
    <div class="col-xl-1 col-md-1 col-sm-1 navbar-padding"></div>
    <div class="navbar navbar-expand-lg col-xl-10 col-md-10 col-sm-10" role="navigation">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarSupportedContent" aria-controls="navBarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown mr-lg-1">
                    <a class="nav-link dropdown-toggle pl-lg-1 ml-lg-n1" href="#" role="button" data-bs-toggle="dropdown">Summary By</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}" data-cy="summary-nav-link">{{labels.category}}</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}/priority/" data-cy="summary-nav-link">{{labels.pgroup}}</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}/team/" data-cy="summary-nav-link">{{labels.g6team}}</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}/lead/" data-cy="summary-nav-link">{{labels.oddlead}}</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}/rag/" data-cy="summary-nav-link">{{labels.rag}}</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/{{portfolio}}/status/" data-cy="summary-nav-link">{{labels.phase}}</a></li>
                    </ul>
                </li>
                <li class="nav-item mr-lg-1"><a class="nav-link" href="/{{portfolio}}/filter-view" data-cy="summary-nav-link">Filter</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{portfolio}}/user?reset=true" data-cy="summary-nav-link">Your projects</a></li>
            </ul>
            {% if summaryType %}
            <form class="form-inline d-flex" action="/{{portfolio}}/projectType?summaryType={{summaryType}}" method="post" novalidate>
                <div class="form-group mb-2 mb-lg-0">
                    <label for="id_project_type" style="margin-right:0.5em;">View {{labels.project_type}}:</label>
                    <select class="form-control form-input-box" id="id_project_type" aria-label="{{labels.project_type}}" name="project_type">
                        {% for option in summary.project_type %}
                        <option value="{{option.value}}" aria-label="{{option.display}}" {{ "selected" if option.value == project_type }}>{{option.display}}</option>
                        {% endfor %}
                    </select>
                    <button class="navbar-button mr-lg-0 my-lg-0" type="submit">View</button>
                </div>
            </form>
            {% endif %}
            {% if summary and userSummary %}
            <form name="personviewform" class="form-inline d-flex" action="/{{portfolio}}/user" method="post" novalidate>
                <div class="form-group mb-2 mb-lg-0">
                    <select id="selectperson" class="form-control adusersearch" data-abs-ajax-type="GET" data-abs-ajax-url="/{{portfolio}}/search/users" aria-label="User search" name="userSearch" data-live-search="true" data-style="form-input-box">
                        <option value="" selected disabled>Search for another user...</option>
                    </select>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col-xl-1 col-md-1 col-sm-1 navbar-padding"></div>
</div>