<div class="row mt-5 py-1" style="background-color:#f8f8f8; border-top:3px solid #006F51;">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-10 col-md-6 col-sm-8 py-3">
	{%if page and page == 'login' %}
		<p class="text-right">
		Service developed by FSA Digital<br />
		</p>
	{% else %}
		<p class="text-right">
		<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=-VAcircBikym-pDrkG8Y6dEMeKXPakZImmNP3H9NsDNUNkE2R0ZLM0NaWk85OVY1MjE0WkExWlVPVi4u">Provide feedback or report a problem</a><br />
		</p>
	{% endif %}
		</div>
</div>