{% extends "theme/layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/css/ajax-bootstrap-select.min.css" integrity="sha512-k9D6Fzp2d9BxewMk+gYYmlGYxv7DLVC46DiCRv3DrAwBkbjSBZCnhBhWCugLuhkTS36QgQ3h7BwkkkfkJk7cXQ==" crossorigin="anonymous" />
{% endblock %}
{% block content %}
{% set isAdmin = hasAdminRole(portfolio) %}
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-10 col-md-10 col-sm-10 py-3">

		<h1 class="project-title">{{title}}</h1>

		<br /><br />

		<form action="/{{portfolio}}/update" class="needs-validation" method="post" novalidate>

			{% for fieldgroup in fieldgroups %}
			{% if fieldgroup.display %}
			<div class="project-field-group">
				<h2 class="section">{{fieldgroup.fieldgroup}}</h2>
				{% for label in fieldgroup.labels %}
				{% set labelIncluded = (label.included and ((not label.admin) or (label.admin and (isAdmin or label.editorcanview)))) %}
				{% if labelIncluded %}
				{% set readonly = ((label.admin and not isAdmin) or label.inputtype == 'auto') %}
				{% set label_col = 'col-sm-3 col-md-3' %}
				{% set input_col = 'col-sm-9 col-md-9' %}
				{% set date_input_col = 'col-sm-9 col-md-9' %}
				{% set link1_input_col = 'col-sm-4 col-md-3' %}
				{% set link2_input_col = 'col-sm-5 col-md-6' %}
				<div class="form-group row">
					<div class="{{label_col}}">{{label.label}}</div>
					{% switch label.inputtype %}
					{% case 'auto' %}
					{% case 'freetext' %}
					<div class="{{input_col}}">
						<input type="text" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" placeholder="Enter {{label.label}}" value="{{project[label.field]}}" {{ " readonly" if readonly }} {{" required" if label.required }}>
						{% if label.required %}
						<div class="invalid-feedback">Please enter a value for {{label.label}}</div>
						{% endif %}
					</div>

					{% case 'smallfreetextarea' %}
					<div class="{{input_col}}">
						<textarea type="text" rows="2" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" placeholder="Enter {{label.label}}" {% if readonly %}readonly{% endif %}>{{project[label.field]}}</textarea>
					</div>
					{% case 'mediumfreetextarea' %}
					<div class="{{input_col}}">
						<textarea type="text" rows="4" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" placeholder="Enter {{label.label}}" {% if readonly %}readonly{% endif %}>{{project[label.field]}}</textarea>
					</div>
					{% case 'largefreetextarea' %}
					<div class="{{input_col}}">
						<textarea type="text" rows="6" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" placeholder="Enter {{label.label}}" {% if readonly %}readonly{% endif %}>{{project[label.field]}}</textarea>
					</div>
					{% case 'projectupdatetext' %}
					<div class="{{input_col}}">
						<p>Enter your new update below. You can only amend an update on the day it was posted.</p>
						<div>
							<textarea type="text" rows="6" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" placeholder="Enter {{label.label}}" {% if readonly %}readonly{% endif %}>{{project[label.field]}}</textarea>
						</div>
						{% if project.lastupdate %}
						<div class="last-update-text">
							<p style="white-space: pre-wrap;"><span style="font-weight:700">{{ project.lastupdate.timestamp | date(globals.timestampFormat) | safe }}</span> - {{ project.lastupdate.text | safe }}</p>
						</div>
						{% endif %}
					</div>

					{% case 'optionlist' %}
					{% case 'predefinedlist' %}
					{% case 'ragchoice' %}
					{% case 'phasechoice' %}
					<div class="{{input_col}}">
						{% if options[label.field] and options[label.field].length > 0 %}
						<select class="form-control form-input-box" id="id_{{label.field}}" aria-label="{{label.field}}[]" name="{{label.field}}" aria-label="{{label.field}}">
							{% for option in options[label.field] %}
							<option value="{{option.value}}" aria-label = "{{option.display}}" {{ "selected" if option.value == project[label.field] }} aria-label="{{option.display}}">{{option.display}}</option>
							{% endfor %}
						</select>
						{% else %}
						<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
						{% endif %}
					</div>

					{% case 'projectmultiselect' %}
					<div class="{{input_col}}">
						{% if options[label.field] and options[label.field].items.length > 0 %}
						<select class="selectpicker form-control" name="{{label.field}}[]" aria-label="{{label.field}}[]" data-header="{{options[label.field].header}}" data-live-search="true" data-style="form-input-box" multiple>
							{% for option in options[label.field].items %}
							<option value="{{option.value}}" aria-label = "{{option.display}}" data-tokens="{{option.tokens}}" {{ "selected" if project[label.field] and project[label.field].includes(option.value) }}>{{option.display}}</option>
							{% endfor %}
						</select>
						{% else %}
						<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
						{% endif %}
					</div>

					{% case 'predefinedsearchablelist' %}
					<div class="{{input_col}}">
						{% if options[label.field] and options[label.field].items.length > 0 %}
						<select class="selectpicker form-control form-input-box" name="{{label.field}}" aria-label ="{{label.field}}" data-header="{{options[label.field].header}}" data-live-search="true">
							{% for option in options[label.field].items %}
							<option value="{{option.value}}" aria-label="{{option.display}}"  data-tokens="{{option.tokens}}" {{ "selected" if option.value == project[label.field] }}>{{option.display}}</option>
							{% endfor %}
						</select>
						{% else %}
						<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
						{% endif %}
					</div>

					{% case 'multioptionlist' %}
					{% case 'predefinedmultilist' %}
					<div class="{{input_col}}">
						{% if options[label.field] and options[label.field].items.length > 0 %}
						<select class="selectpicker form-control" name="{{label.field}}[]" aria-label ="{{label.field}}[]" data-header="{{options[label.field].header}}" data-live-search="false" data-style="form-input-box" multiple>
							{% for option in options[label.field].items %}
							<option value="{{option.value}}" aria-label = "{{option.display}}" {{ "selected" if project[label.field] and project[label.field].includes(option.value) }}>{{option.display}}</option>
							{% endfor %}
						</select>
						{% else %}
						<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
						{% endif %}
					</div>

					{% case 'adusersearch' %}
					<div class="{{input_col}}">
						{% if options[label.field].nouseroption %}
						{% set ajaxData = 'data-abs-ajax-data={"addnone":"true"}' %}
						{% else %}
						{% set ajaxData = '' %}
						{% endif %}
						<select class="form-control adusersearch" data-abs-ajax-type="GET" data-abs-ajax-url="/{{portfolio}}/search/users" {{ajaxData}} aria-label="{{label.field}}[value]" name="{{label.field}}[value]" data-live-search="true" data-style="form-input-box">
							{% if project[label.field] %}
							<option value="{{project[label.field].value}}" aria-label = "{{item.value}}" selected>{{project[label.field].text}}</option>
							{% endif %}
						</select>
					</div>

					{% case 'adusermultisearch' %}
					<div class="{{input_col}}">
						<select class="form-control adusersearch" data-abs-ajax-type="GET" data-abs-ajax-url="/{{portfolio}}/search/users" aria-label="{{label.field}}[]" name="{{label.field}}[]" data-live-search="true" data-style="form-input-box" multiple>
							{% for item in project[label.field] %}
							<option value="{{item.value}}" aria-label = "{{item.value}}" selected>{{item.text}}</option>
							{% endfor %}
						</select>
					</div>

					{% case 'ajaxmultisearch' %}
					<div class="{{input_col}}">
						<select class="form-control ajaxmultisearch" data-abs-ajax-type="GET" data-abs-ajax-url="{{options[label.field].ajaxurl}}" aria-label="{{label.field}}[]" name="{{label.field}}[]" data-live-search="true" data-style="form-input-box" multiple>
							{% for item in project[label.field] %}
							<option value="{{item.value}}" aria-label = "{{item.value}}" selected>{{item.text}}</option>
							{% endfor %}
						</select>
					</div>


					{% case 'linkeditemlist' %}
					<div class="{{input_col}}">
						<template id="doctemplate-{{label.field}}">
							<div class="form-group">
								<div class="row">
									<div class="col-md-3"><input type="text" class="form-control name form-input-box" aria-label = {{label.label}} placeholder="{{label.label}} name"></div>
									<div class="col-md-7"><input type="text" class="form-control link form-input-box" aria-label = {{label.label}} placeholder="{{label.label}} link"></div>
									<div class="col-md-2"><p class="delete doc-buttons" style="margin:0; cursor:pointer;">Remove</p></div>
								</div>
							</div>
						</template>
						<fieldset>
							<div id="doclist-{{label.field}}" data-count="{{project[label.field].length}}">
								{% for doc in project[label.field] %}
								<div class="form-group">
									<div class="row">
										<div class="col-md-3"><input type="text" class="form-control form-input-box" name="{{label.field}}[{{loop.index0}}][name]" aria-label = {{label.label}} placeholder="{{label.label}} name" value="{{doc.name}}"></div>
										<div class="col-md-7"><input type="text" class="form-control form-input-box" name="{{label.field}}[{{loop.index0}}][link]" aria-label = {{label.label}} placeholder="{{label.label}} link" value="{{doc.link}}"></div>
										<div class="col-md-2"><p class="delete doc-buttons" style="cursor:pointer;" onclick="this.closest('.form-group').remove();">Remove</p></div>
									</div>
								</div>
								{% endfor %}
							</div>

							<span class="doc-buttons add-doc" data-field="{{label.field}}" style="margin:0; cursor:pointer;">Add document</span>
						</fieldset>
					</div>

					{% case 'milestones' %}
					<div class="{{input_col}}">
						<template id="milestonetemplate-{{label.field}}">
							<div class="milestone-wrapper">
								<div class="form-row">
									<input type="hidden" class="id" value="">
									<div class="form-group col-1"><input type="number" class="form-control order form-input-box" aria-label = "Milestone number" placeholder="Order"></div>
									<div class="form-group col-5"><input type="text" class="form-control name form-input-box" aria-label = "Milestone name" placeholder="Milestone name"></div>
									<div class="form-group col-1"><input type="number" class="form-control day form-input-box" aria-label = "Deadline day" placeholder="DD" min="1" max="31" /></div>
									<div class="form-group col-1"><input type="number" class="form-control month form-input-box" aria-label = "Deadline month" placeholder="MM" min="1" max="12" /></div>
									<div class="form-group col-2"><input type="number" class="form-control year form-input-box" aria-label = "Deadline year" placeholder="YYYY" min="{{project.project_year_min}}" max="{{project.project_year_max}}" /></div>
									<div class="form-group col-2"><p class="delete milestone-buttons" style="margin:0; cursor:pointer;">Remove</p></div>
								</div>
							</div>
						</template>
						<fieldset>
							<div id="milestonelist-{{label.field}}" data-count="{{project[label.field].length}}">
								{% for milestone in project[label.field] %}
								<div class="milestone-wrapper">
									<div class="form-row">
										<input type="hidden" name="{{label.field}}[{{loop.index0}}][id]" value="{{milestone.id}}">
										<div class="form-group col-md-1"><input type="number" class="form-control form-input-box" name="{{label.field}}[{{loop.index0}}][order]" aria-label = "Milestone number" placeholder="Order" value="{{milestone.order}}"></div>
										<div class="form-group col-md-5"><input type="text" class="form-control form-input-box" name="{{label.field}}[{{loop.index0}}][name]" aria-label = "Milestone name" placeholder="Name" value="{{milestone.name}}"></div>
										<div class="form-group col-1"><input type="number" name="{{label.field}}[{{loop.index0}}][deadline][day]" class="form-control form-input-box" aria-label = "Deadline day" placeholder="DD" min="1" max="31" value="{{milestone.deadline.day | safe}}" /></div>
										<div class="form-group col-1"><input type="number" name="{{label.field}}[{{loop.index0}}][deadline][month]" class="form-control form-input-box" aria-label = "Deadline month" placeholder="MM" min="1" max="12" value="{{milestone.deadline.month | safe}}" /></div>
										<div class="form-group col-2"><input type="number" name="{{label.field}}[{{loop.index0}}][deadline][year]" class="form-control form-input-box" aria-label = "Deadline year" placeholder="YYYY" min="{{project.project_year_min}}" max="{{project.project_year_max}}" value="{{milestone.deadline.year | safe}}" /></div>
										<div class="form-group col-md-2"><p class="delete milestone-buttons" style="margin: 0; cursor: pointer;" onclick="this.closest('.milestone-wrapper').remove();">Remove</p></div>
									</div>
								</div>
								{% endfor %}
							</div>

							<span class="milestone-buttons add-milestone" data-field="{{label.field}}" style="margin:0; cursor:pointer;">Add milestone</span>
						</fieldset>
					</div>

					{% case 'namedlink' %}
					<div class="{{link1_input_col}}">
						<input type="text" class="form-control form-input-box" id="id_{{label.field}}_name" name="{{label.field}}[name]" aria-label = "{{label.label}}" placeholder="Enter {{label.label}} name" value="{{project[label.field].name}}" {% if readonly %}readonly{% endif %}>
					</div>
					<div class="{{link2_input_col}}">
						<input type="text" class="form-control form-input-box" id="id_{{label.field}}_link" name="{{label.field}}[link]" aria-label = "{{label.label}}" placeholder="Enter {{label.label}} link" value="{{project[label.field].link}}" {% if readonly %}readonly{% endif %}>
					</div>

					{% case 'budget' %}
					<div class="col-sm-9">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">&pound;</span>
							</div>
							<input type="text" name="{{label.field}}" value="{{project[label.field]}}" id="ID_{{label.field}}" class="form-control form-input-box" aria-label="Amount (to the nearest pound)" {% if readonly %}readonly{% endif %}>
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
						</div>
					</div>

					{% case 'percentage' %}
					<div class="col-sm-9">
						<div class="input-group mb-3">
							<input type="number" min="0" max="100" name="{{label.field}}" value="{{project[label.field]}}" id="ID_{{label.field}}" class="form-control form-input-box" aria-label="Percentage from 1 to 100" {% if readonly %}readonly{% endif %}>
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>

					{% case 'date' %}
					<div class="{{date_input_col}}">
						<input type="date" name="{{label.field}}" value="{{project[label.field] | date('YYYY-MM-DD')}}" id="ID_{{label.field}}" class="form-control form-input-box" aria-label="Date" {% if readonly %}readonly{% endif %}>
					</div>

					{% case 'projectdate' %}
					<div class="{{date_input_col}}">
						<div class="row">
							<div class="col-3"><input type="number" id="ID_{{label.field}}_day" name="{{label.field}}[day]" class="form-control form-input-box" aria-label = "Day" placeholder="DD" min="1" max="31" value="{{project[label.field].day | safe}}" /></div>
							<div class="col-3"><input type="number" id="ID_{{label.field}}_month" name="{{label.field}}[month]" class="form-control form-input-box" aria-label = "Month" placeholder="MM" min="1" max="12" value="{{project[label.field].month | safe}}" /></div>
							<div class="col-6"><input type="number" id="ID_{{label.field}}_year" name="{{label.field}}[year]" class="form-control form-input-box" aria-label = "Year" placeholder="YYYY" min="{{project.project_year_min}}" max="{{project.project_year_max}}" value="{{project[label.field].year | safe}}" /></div>
						</div>
					</div>


					{% case 'predefinedfield' %}
					{% default %}
					<div class="{{input_col}}">
						<span><i>The {{label.label}} field has no input configured. Please contact the portfolio administrator</i></span>
					</div>
					{% endswitch %}
				</div>
				{% else %}

				{% switch label.inputtype %}
				{% case 'projectmultiselect' %}
				{% case 'multioptionlist' %}
				{% case 'predefinedmultilist' %}
				{% case 'adusermultisearch' %}
				{% case 'ajaxmultisearch' %}
				{% if project[label.field] and project[label.field].items.length > 0 %}
				{% for item in project[label.field] %}
				<input type="hidden" name="{{label.field}}[{{loop.index0}}]" aria-label = "{{item}}" value="{{item}}">
				{% endfor %}
				{% endif %}

				{% case 'linkeditemlist' %}
				{% case 'namedlink' %}
				{% for doc in project[label.field] %}
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][name]" aria-label = "{{doc.name}}" value="{{doc.name}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][link]" aria-label = "{{doc.link}}" value="{{doc.link}}">
				{% endfor %}

				{% case 'milestones' %}
				{% for milestone in project[label.field] %}
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][id]" 		aria-label = "{{milestone.id}}" 	value="{{milestone.id}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][order]"     aria-label = "{{milestone.order}}" 	value="{{milestone.order}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][name]" 		aria-label = "{{milestone.name}}" 	value="{{milestone.name}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][day]" 		aria-label = "{{milestone.deadline.day}}" 	value="{{milestone.deadline.day}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][month]" 	aria-label = "{{milestone.deadline.month}}" value="{{milestone.deadline.month}}">
				<input type="hidden" name="{{label.field}}[{{loop.index0}}][year]" 		aria-label = "{{milestone.deadline.year}}" 	value="{{milestone.deadline.year}}">
				{% endfor %}

				{% case 'projectdate' %}
				<input type="hidden" name="{{label.field}}[day]" value="{{project[label.field][day]}}"  aria-label="{{project[label.field][day]}}">
				<input type="hidden" name="{{label.field}}[month]" value="{{project[label.field][month]}}" aria-label="{{project[label.field][month]}}">
				<input type="hidden" name="{{label.field}}[year]" value="{{project[label.field][year]}}" aria-label="{{project[label.field][year]}}">
				{% case 'predefinedfield' %}
				{% default %}
				<input type="hidden" name="{{label.field}}" value="{{project[label.field]}}" aria-label="{{project[label.field]}}" id="ID_{{label.field}}">
				{% endswitch %}

				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			{% endfor %}

			<div class="form-group row">
				<div class="col-sm-12"><button class="general-button" type="submit">Submit</button></div>
			</div>

		</form>

	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/js/ajax-bootstrap-select.min.js" integrity="sha512-HExUHcDgB9r00YwaaDe5z9lTFmTChuW9lDkPEnz+6/I26/mGtwg58OHI324cfqcnejphCl48MHR3SFQzIGXmOA==" crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
        var $ums = $('.adusersearch').selectpicker({ liveSearch: true }).ajaxSelectPicker();
		$ums.trigger('change').data('AjaxBootstrapSelect').list.cache = {};

		var $ms = $('.ajaxmultisearch');
		$ms.each(function () { $(this).selectpicker({ liveSearch: true }).ajaxSelectPicker({ preserveSelected: true }); });
		$ms.each(function () { $(this).trigger('change').data('AjaxBootstrapSelect').list.cache = {}; });
	});

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
						event.stopPropagation();
						// Scroll to the first invalid control
						var invalidcontrols = document.querySelectorAll(".form-control:invalid");
                        $('html, body').animate({ scrollTop: $(invalidcontrols[0]).offset().top }, 1000);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}