{% extends "theme/layout.html" %}

{% block content %}

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Create supplier account</h1><br />

			<p>Supplier name will be used as a username. It needs to be a single word, consisting of letters and digits only.</p>
			
			<form action="suppliers/add-supplier" method="post">
			
			<div class="row">
			<div class="col-sm-2"><label for="user_supp">Supplier name:&nbsp; &nbsp;</label></div>
			<div class="col-sm-10 py-1"><input id="user_supp" type="text" name="user_supp" class="form-control" placeholder="Supplier name" required /></div>
			</div>
			
			<div class="row">
			<div class="col-sm-2"><label for="password_supp">Password:&nbsp; &nbsp;</label></div>
			<div class="col-sm-10 py-1"><input id="password_supp" type="password" name="password_supp" class="form-control" placeholder="Password" required /></div>
			</div>
			
			<br />
			
			<input type="submit" value="Create account">

			</form>
			
			{% if msg %}
			<p>{{ msg | safe}}</p>
			{% endif %}
			
			<br /><hr /><br />
			
			{% if cnt > 0 %}
			<p><span style="font-weight:800;">All suppliers:</span> {{ cnt }}</p>
			
			<p>List:</br />
			{% for supplier in supps %}
			{{ supplier | capitalize }} <br />
			{% endfor %}
			</p>
			
			{% endif %}

</div>
<div class="col-sm-1"></div>
	</div>

{% endblock %}
