{% extends "theme/layout.html" %}

{% block content %}

<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-10 col-md-7 col-sm-8 py-3">
	
	<h1 class="project-title">Configuration</h1>
	
	<br /><br />

		  <form action="/{{portfolio}}/configure" method="post">
		  	{% set labelNo = 0 %}
		  	{% for fieldgroup in fieldgroups %}
		  	<h2 class="heading-medium">{{fieldgroup.fieldgroup}}</h2>
		  	<br />
		  	<div class="row">
		  		<div class="col-sm-2">Field name</div>
		  		<div class="col-sm-1">Included?</div>
		  		<div class="col-sm-1">Admin only?</div>
		  		<div class="col-sm-2">Label</div>
		  		<div class="col-sm-6">Values</div>
		  	</div>
		  	<br />
		  	{% for label in fieldgroup.labels %}
			<div class="form-group row">
				<div class="col-sm-2">{{label.fieldtitle}}</div>
				<input type="hidden" name="labels[{{labelNo}}][field]" value="{{label.field}}" id="key_{{label.field}}">
				<input type="hidden" name="labels[{{labelNo}}][fieldgroup]" value="{{label.fieldgroup}}" id="fieldgroup_{{label.field}}">
				<input type="hidden" name="labels[{{labelNo}}][order]" value="{{label.order}}" id="order_{{label.field}}">
				<input type="hidden" name="labels[{{labelNo}}][fieldtitle]" value="{{label.fieldtitle}}" id="fieldfieldtitle_{{label.field}}">
				{% if label.readonly %}
				<input type="hidden" name="labels[{{labelNo}}][included]" value="{{label.included}}" id="idinc2_{{label.field}}">
				<input type="hidden" name="labels[{{labelNo}}][admin]" value="{{label.admin}}" id="idadm2_{{label.field}}">
				<div class="col-sm-1"><input type="checkbox" id="idinc_{{label.field}}" {% if(label.included) %}checked{% endif %} {% if(label.readonly) %}disabled{% endif %} class=""></div>
				<div class="col-sm-1"><input type="checkbox" id="idadm_{{label.field}}" {% if(label.admin) %}checked{% endif %} {% if(label.readonly) %}disabled{% endif %} class=""></div>
				{% else %}
				<div class="col-sm-1"><input type="checkbox" value="true" name="labels[{{labelNo}}][included]" id="idinc_{{label.field}}" {% if(label.included) %}checked{% endif %} {% if(label.readonly) %}disabled{% endif %} class=""></div>
				<div class="col-sm-1"><input type="checkbox" value="true" name="labels[{{labelNo}}][admin]" id="idadm_{{label.field}}" {% if(label.admin) %}checked{% endif %} {% if(label.readonly) %}disabled{% endif %} class=""></div>
				{% endif %}
				<input type="hidden" name="labels[{{labelNo}}][readonly]" value="{{label.readonly}}" id="readonly_{{label.field}}">
				<div class="col-sm-2"><input type="text" id="idlbl_{{label.field}}" name="labels[{{labelNo}}][label]" placeholder="Value" value="{{label.label}}" class="form-control"></div>
				<div class="col-sm-6"><input type="text" id="idtyp_{{label.field}}" name="labels[{{labelNo}}][inputtype]" placeholder="{{label.inputtype}}" value="{{label.inputtype}}" {% if(label.inputtype_locked) %}readonly{% endif %} class="form-control"></div>
				<input type="hidden" name="labels[{{labelNo}}][inputtype_locked]" value="{{label.inputtype_locked}}" id="inputtype_locked_{{label.field}}">
			</div>
		  	{% set labelNo = labelNo + 1 %}
		  	{% endfor %}
		  	{% endfor %}

		  	<div class="form-group row">
		  		<div class="col-sm-12"><button class="btn btn-primary" type="submit">Submit</button></div>
		  	</div>

		  </form>
	
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>
{% endblock %}