{% extends "theme/layout.html" %}

{% block content %}

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
	{% if title %}
	<h1 class="heading-xlarge" style="margin-bottom:15px;">{{title}}</h1><br />
	{% else %}
	<h1 class="heading-xlarge" style="margin-bottom:15px;">Oops...</h1><br />
	{% endif %}
	<p data-cy="error">{{ message }}</p>
	{% if detail %}
	<p data-cy="error-detail">{{ detail }}</p>
	{% endif %}
	{% if link %}
	<p><a href="{{link.url}}">{{link.text}}</a></p>
	{% else %}
	<p><a href="/">Go back to the homepage</a></p>
	{% endif %}
</div>
</div>
<div class="col-sm-1"></div>
</div>

{% endblock %}
