{% extends "theme/layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/css/ajax-bootstrap-select.min.css" integrity="sha512-k9D6Fzp2d9BxewMk+gYYmlGYxv7DLVC46DiCRv3DrAwBkbjSBZCnhBhWCugLuhkTS36QgQ3h7BwkkkfkJk7cXQ==" crossorigin="anonymous" />
{% endblock %}
{% block content %}
{% set isAdmin = hasAdminRole(identity, portfolio) %}
<div class="row pt-2">
	<div class="col-sm-1"></div>
	<div class="col-sm-10 py-1">
		<h1 class="project-title" style="margin-bottom:15px;">Filter projects</h1><br />

		<form action="/{{portfolio}}/filter-view" method="post" id="filter">
			<input type="hidden" name="portfolio" value="{{portfolio}}" id="id_portfolio">

			{% set label_col = 'col-sm-2 col-md-2' %}
			{% set input_col = 'col-sm-10 col-md-10 py-1' %}
			{% set budget_amount_col = 'col-sm-6 col-md-7' %}
			{% set budget_operator_col = 'col-sm-4 col-md-3' %}

			{% for fieldgroup in fieldgroups %}
			<h2 class="section" style="margin-top:2.25em; margin-bottom:10px;">{{fieldgroup.fieldgroup}}</h2><br />
			{% for label in fieldgroup.labels %}
			{% set labelIncluded = label.included %}
			{% if labelIncluded %}
			<div class="form-group row ">
				{% switch label.inputtype %}
				{% case 'auto' %}
				{% case 'freetext' %}
				{% case 'smallfreetextarea' %}
				{% case 'mediumfreetextarea' %}
				{% case 'largefreetextarea' %}
				{% case 'projectupdatetext' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<input type="text" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" placeholder="{{label.label}} includes" value="{{form_values[label.field]}}">
				</div>

				{% case 'adusersearch' %}
				{% case 'adusermultisearch' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<select class="form-control adusersearch" data-abs-ajax-type="GET" data-abs-ajax-url="/{{portfolio}}/search/users" aria-label="{{label.field}}[]" name="{{label.field}}[]" data-live-search="true" data-style="form-input-box" multiple>
						{% for item in project[label.field] %}
						<option value="{{item.value}}" aria-label="{{item.value}}" selected>{{item.text}}</option>
						{% endfor %}
					</select>
				</div>


				{% case 'optionlist' %}
				{% case 'predefinedlist' %}
				{% case 'ragchoice' %}
				{% case 'phasechoice' %}
				{% case 'projectmultiselect' %}
				{% case 'predefinedsearchablelist' %}
				{% case 'multioptionlist' %}
				{% case 'predefinedmultilist' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					{% if options[label.field] %}
					<select class="selectpicker form-control" name="{{label.field}}[]" data-header="{{options[label.field].header}}" data-live-search="true" data-style="form-input-box" multiple>
						{% for option in options[label.field] %}
						<option value="{{option.value}}" data-tokens="{{option.tokens}}" {{ "selected" if form_values[label.field] and form_values[label.field].includes(option.value) }}>{{option.display}}</option>
						{% endfor %}
					</select>
					{% else %}
					<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
					{% endif %}
				</div>

				{% case 'date' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<input type="date" class="form-control form-input-box" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" value="{{form_values[label.field]}}">
				</div>

				{% case 'projectdate' %}
				<div class="col-sm-2"><label for="id_{{label.field}}_date">{{label.label}} is after:</label></div>
				<div class="{{input_col}}">
					<input type="date" class="form-control form-input-box" id="id_{{label.field}}_date" name="{{label.field}}[date]" aria-label="{{label.label}}" value="{{form_values[label.field].date}}">
				</div>

				{% case 'nullableboolean' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<select class="selectpicker form-control" data-style="form-input-box" name="{{label.field}}">
						<option value="" {{ "selected" if form_values[label.field] == "" }}>None selected</option>
						<option value="true" {{ "selected" if form_values[label.field] == "true" }}>Yes</option>
						<option value="false" {{ "selected" if form_values[label.field] == "false" }}>No</option>
					</select>
				</div>

				{% case 'budget' %}
				<div class="col-sm-2"><label for="id_{{label.field}}_operator">{{label.label}}:</label></div>
				<div class="{{budget_operator_col}}">
					<select class="selectpicker form-control" data-style="form-input-box" id="id_{{label.field}}_operator" name="{{label.field}}[operator]">
						<option value="<" {{ "selected" if form_values[label.field].operator == "<" }}>Less than</option>
						<option value=">" {{ "selected" if form_values[label.field].operator == ">" }}>Greater than</option>
					</select>
				</div>
				<div class="{{budget_amount_col}}">
					<input type="number" class="form-control form-input-box" id="id_{{label.field}}_amount" name="{{label.field}}[amount]" aria-label="{{label.label}}" value="{{form_values[label.field].amount}}">
				</div>

				{% endswitch %}
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
			<div class="row my-5">
				<div class="form-group"><button class="general-button" type="submit">Submit</button></div>
				<div class="form-group"><button class="general-button" type="reset" onClick="window.location.href=window.location.href;">Reset</button></div>
			</div>

		</form>


		{% if stage == 'results' %}
		<br />
		<hr />
		<br />
		<div id="results">
			<h1 class="heading-xlarge" style="margin-bottom:15px; "><a name="results">Results</a></h1><br />
			<p style=""><strong>Number of projects:</strong> {{ data.project_cnt }}</p>
			{% for project in data.projects %}
			<p style=""><a href="/{{portfolio}}/projects/{{ project.project_id }}">{{ project.project_id }} {{ project.project_name | safe}}</a></p>
			{% endfor %}
		</div>
		{% endif %}

	</div>
	<div class="col-sm-1"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/js/ajax-bootstrap-select.min.js" integrity="sha512-HExUHcDgB9r00YwaaDe5z9lTFmTChuW9lDkPEnz+6/I26/mGtwg58OHI324cfqcnejphCl48MHR3SFQzIGXmOA==" crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		var results = document.getElementById('results');
		if (results) {
			$('html, body').animate({ scrollTop: $(results).offset().top }, 1000);
		}
	});
	$(document).ready(function () {
		var $ums = $('.adusersearch').selectpicker({ liveSearch: true }).ajaxSelectPicker();
		$ums.trigger('change').data('AjaxBootstrapSelect').list.cache = {};

		var $ms = $('.ajaxmultisearch');
		$ms.each(function () { $(this).selectpicker({ liveSearch: true }).ajaxSelectPicker({ preserveSelected: true }); });
		$ms.each(function () { $(this).trigger('change').data('AjaxBootstrapSelect').list.cache = {}; });
	});

</script>


{% endblock %}