{% extends "theme/layout.html" %}

{% block content %}

	<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10 py-1">
		<h1 class="project-title" style="margin-bottom:15px;">Filter projects</h1><br />

		<form action="/{{portfolio}}/filter-view" method="post" id="filter">
			<input type="hidden" name="portfolio" value="{{portfolio}}" id="id_portfolio">

			{% set label_col = 'col-sm-2 col-md-2' %}
			{% set input_col = 'col-sm-10 col-md-10 py-1' %}
			{% set date_input_col = 'col-sm-6 col-md-5' %}

			{% for fieldgroup in fieldgroups %}
			<h2 class="heading-medium" style="margin-bottom:10px;">{{fieldgroup.fieldgroup}}</h2><br />
			{% for label in fieldgroup.labels %}
			{% set labelIncluded = (label.included and ((not label.admin) or (label.admin and (isAdmin or label.editorcanview)))) %}
			{% if labelIncluded %}
			<div class="form-group row ">
				{% switch label.inputtype %}
				{% case 'auto' %}
				{% case 'freetext' %}
				{% case 'smallfreetextarea' %}
				{% case 'mediumfreetextarea' %}
				{% case 'largefreetextarea' %}
				{% case 'projectupdatetext' %}
				{% case 'adusersearch' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}} includes:</label></div>
				<div class="{{input_col}}">
					<input type="text" class="form-control" id="id_{{label.field}}" name="{{label.field}}" placeholder="{{label.label}} includes" value="{{form_values[label.field]}}">
				</div>

				{% case 'optionlist' %}
				{% case 'predefinedlist' %}
				{% case 'ragchoice' %}
				{% case 'phasechoice' %}
				{% case 'projectmultiselect' %}
				{% case 'predefinedsearchablelist' %}
				{% case 'multioptionlist' %}
				{% case 'predefinedmultilist' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}} is:</label></div>
				<div class="{{input_col}}">
					{% if options[label.field] %}
					<select class="selectpicker form-control" name="{{label.field}}[]" data-header="{{options[label.field].header}}" data-live-search="true" multiple>
						{% for option in options[label.field] %}
						<option value="{{option.value}}" data-tokens="{{option.tokens}}" {{ "selected" if form_values[label.field] and form_values[label.field].includes(option.value) }}>{{option.display}}</option>
						{% endfor %}
					</select>
					{% else %}
					<span><i>The {{label.label}} field has no options configured. Please contact the portfolio administrator</i></span>
					{% endif %}
				</div>

				{% case 'date' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<input type="date" class="form-control" id="id_{{label.field}}" name="{{label.field}}" aria-label="{{label.label}}" value="{{form_values[label.field]}}" >
				</div>

				{% case 'nullableboolean' %}
				<div class="col-sm-2"><label for="id_{{label.field}}">{{label.label}}:</label></div>
				<div class="{{input_col}}">
					<select class="selectpicker form-control" name="{{label.field}}">
						<option value="" {{ "selected" if form_values[label.field] == "" }} >None selected</option>
						<option value="true" {{ "selected" if form_values[label.field] == "true" }}>Yes</option>
						<option value="false"{{ "selected" if form_values[label.field] == "false" }}>No</option>
					</select>
				</div>

				{% endswitch %}
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
			<div class="row">
				<div class="col-sm-2"><button class="btn btn-primary" type="submit">Submit</button></div>
				<div class="col-sm-2"><button class="btn btn-primary" type="reset">Reset</button></div>
			</div>

		</form>


		{% if stage == 'results' %}
		<br />
		<hr />
		<br />
		<h1 class="heading-xlarge" style="margin-bottom:15px; "><a name="results">Results</a></h1><br />

		<p style=""><strong>Number of projects:</strong> {{ data.project_cnt }}</p>

		{% for project in data.projects %}
		<p style=""><a href="/{{portfolio}}/Projects/{{ project.project_id }}">{{ project.project_id }} {{ project.project_name | safe}}</a> {{ label_priority_main }}: {{ project.priority_main }} </p>
		{% endfor %}

		{% endif %}

	</div>
<div class="col-sm-1"></div>
</div>
{% endblock %}
