{% extends "theme/layout.html" %}

{% block content %}
<!-- Top navigation links -->
<div class="row">
	<div class="col-xl-3 col-md-1 col-sm-1"></div>
	<div class="col-xl-6 col-md-10 col-sm-10">
	
	<br/><br /><br />
	
		<div class="d-flex align-items-stretch flex-wrap">
		
		{% for portfolio in data %}
		<div class="landing_box"><a href="{{portfolio.viewkey}}" class="landing_link special-link">{{ portfolio.abbr }}</a></div>
		{% endfor %}
		
		</div>
	
	</div>
	<div class="col-xl-3 col-md-1 col-sm-1"></div>
</div>

{% endblock %}