{% extends "theme/layout.html" %}
{% block head %}
<!-- Script for hiding/ showing updates -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		size_li = $("#myList li").length;
		x = 2;
		$('#myList li:lt(' + x + ')').show();
		$('#loadMore').click(function () {
			x = (x + 1 <= size_li) ? x + 2 : size_li;
			$('#myList li:lt(' + x + ')').show();
			$('#showLess').show();
			if (x == size_li) {
				$('#loadMore').hide();
			}
		});
		$('#showLess').click(function () {
			x = (x - 1 < 0) ? 1 : x - 1;
			$('#myList li').not(':lt(' + x + ')').hide();
			$('#loadMore').show();
			$('#showLess').show();
			if (x == 1) {
				$('#showLess').hide();
			}
		});
	});
</script>
<!-- Script for showing/hiding sections & flipping the arrow -->
<script>
function showhide(id) {
  var s1 = document.getElementById(id);
   
  var flex_sections = ["s1", "s2", "s5", "s6", "s7", "s8"];
  var initial_sections = ["s3", "s4", "s9", "s10", "s11", "s12"];
      
  if (flex_sections.indexOf(id) >= 0 && s1.style.display === "none") {s1.style.display = "flex";} 
  else if (initial_sections.indexOf(id) >= 0 && s1.style.display === "none") {s1.style.display = "initial";} 
  else {s1.style.display = "none";}
  
} 

function arrow(id) {
	var ai = document.getElementById(id);
        
  if (ai.classList.contains("down")) {ai.classList.remove("down"); ai.classList.add("up");} 
  else if (ai.classList.contains("up")) {ai.classList.remove("up"); ai.classList.add("down");} 
  
} 
</script>

{% endblock %}

{% block content %}

<!-- Project IDs & Edit/ Delete links -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-7 col-md-7 col-sm-6 py-3">
		<p><strong>Project ID: </strong>{{ data.project_id }} {% if business_case_number %} / {{ data.business_case_number }} {% endif %} {% if fs_number %} / {{ data.fs_number }} {% endif %}</p>
	</div>
	
	<!-- Change for access groups -->
	{% set group = 1 %}
	<div class="col-xl-3 col-md-3 col-sm-4 py-3 text-right">
		{% if group == 'admin' or group == 'superadmin' %}<a href="/odd/delete/{{ data.project_id }}" class="special-link"><button class="delete-button">Delete</button></a>{% endif %}
		{% if group == 'admin' or group == 'superadmin' or group == 'editor' %}<a href="/{{portfolio}}/edit/{{ data.project_id }}" class="special-link"><button class="update-button">Update</button></a>{% endif %}
	</div>

	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<!-- Project title -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-10 col-md-10 col-sm-10 py-3">
		<h1 class="project-title">
			{{ data.project_name }}
			{% if data.new_flag == 'Y' %}<span class="project-new">NEW</span>{% endif %}
		</h1>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>




<!-- -------------------------- MAIN SECTION -------------------------- -->
<!-- Project & Programme description-->
<div class="row">
	<div class="col-sm-1 pb-3"></div>
	<div class="col-sm-10 pb-3 pr-5">
	
	<hr />
	<h2 class=" accordion section" onclick="showhide('s1'); arrow('a1')">Project description &nbsp;&nbsp; <i id="a1" class="arrow up"></i> </h2></div>
	<div class="col-sm-1 pb-3"></div>
	
</div>

<div class="row" id="s1">
	<div class="col-sm-1 pb-3"></div>

	<div class="col-sm-8 pb-3 pr-5" >

		<!-- Short description -->
		{% if data.short_desc %}
		<p class="desc-para">
		<strong>{{ labels.short_desc | safe }}</strong><br />
		{{ data.short_desc | safe }}
		</p>
		{% endif %}
		
		<!-- Programme -->
		{% if data.programme %}
		<p class="programme">
		<strong>Part of: {{ data.programme }}</strong><br />
		{{ data.programme_description }}
		</p>
		{% endif %}
	</div>

	<!-- Phase indicator -->
	<div class="col-sm-2 mb-3 phase {{ data.phaseviewkey }}">
		<p class="phase-label">{{ data.phase | title }}</p>
	</div>
	<div class="col-sm-1 py-3"></div>
</div>




<!-- Progress indicators -->
{% if data.rag or data.priority_main or data.risk_rating or data.onhold or data.progress_option1 or data.progress_option2 or data.how_get_green %}
<div class="row">
	<div class="col-sm-1 py-3"></div>
	<div class="col-sm-8 py-3 pr-5">
	
		
		<hr />
		<h2 class="accordion section mb-3" onclick="showhide('s2'); arrow('a2')">Progress indicators &nbsp;&nbsp; <i id="a2" class="arrow down"></i></h2>
		
		<div class="row" id="s2" style="display:none;">
			{% if data.how_get_green %}<div class="col-sm-6">{% else %}<div class="col-sm-12">{% endif %}
			
			<!-- Flags & extra text fields-->
			{% set rags = { 'red': 'Red', 'redamb': 'Red-Amber', 'amb': 'Amber', 'ambgre': 'Amber-Green', 'gre': 'Green']%}
			{% if rags[data.rag] %}
			<div class="small-flag rag-{{data.rag}}">{{labels.rag}}: {{ rags[data.rag] }}</div>
			{% endif%}
			
			{% if data.priority_main %}<div class="small-flag">{{labels.priority_main}}: {{data.pgroup | capitalize }} ({{ data.priority_main }})</div>{% endif %}
			
			{% if data.risk_rating and data.risk_rating != 'No' %}
			<strong>{{labels.risk_rating}}:</strong>
			<div class="small-flag"><strong>{{ data.risk_rating }}</strong></div>
			{% endif %}
			
			{% if data.onhold and data.onhold != 'No' %}
			<strong>{{labels.onhold}}:</strong>
			<div class="small-flag"><strong>{{ data.onhold }}</strong></div>
			{% endif %}
			
			{% if data.progress_option1 %}<div class="small-flag">{{ labels.progress_option1 }}: {{ data.progress_option1 }}</div>{% endif %}
			{% if data.progress_option2 %}<div class="small-flag">{{ labels.progress_option1 }}: {{ data.progress_option2 }}</div>{% endif %}
			
			<p>
			{% if data.progress_setting1 %}<strong>{{ labels.progress_setting1 }}:</strong> {{ data.progress_setting1 }} {% endif %}
			{% if data.progress_setting2 %}<br /><strong>{{ labels.progress_setting2 }}:</strong> {{ data.progress_setting2 }}{% endif %}
			</p>
			
			</div>
			
			{% if data.how_get_green %}
			<div class="col-sm-6">
			<!-- How to get to green -->
				<p class="infobox"><strong>{{ labels.how_get_green }}</strong><br />
				{{ data.how_get_green }}
				</p>
			</div>
			{% endif %}
		</div>
		{% endif %}




		
		
		<!-- Project team -->
		{% if data.oddlead or data.key_contact1 or data.key_contact1 or data.key_contact1 or data.team or data.supplier or data.project_team_option1 or data.project_team_option2 or data.team or data.supplier %}
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s3'); arrow('a3')">Project team &nbsp;&nbsp; <i id="a3" class="arrow down"></i></h2>
		<!-- Key contacts -->
		<div id="s3" style="display:none">
		{% if data.oddlead or data.key_contact1 or data.key_contact2 or data.key_contact3 %}
		<div class="d-flex flex-row bd-highlight mb-3">
		
		  {% if data.oddlead %}
		  <div class="p-2 flex-fill bd-highlight lead-box">
		  <p><strong>{{ labels.oddlead}}</strong><br />
		  {{ data.oddlead}} <br />
		  <a href="mailto:{{ data.oddlead_email }}">{{ data.oddlead_email }}</a><br />
		  {% if data.oddlead_role and data.oddlead_role != 'Role' %}<strong>{{ labels.oddlead_role}}</strong> {{ data.oddlead_role }}<br />{% endif %}
		  {% if data.g6team %}<strong>{{ labels.g6team}}</strong>{{ data.g6team }}</p>{% endif %}
		  </div>
		  {% endif %}
		  
		  {% if data.key_contact1 %}
		  <div class="p-2 flex-fill bd-highlight key-contact">
		  <p><strong>{{ labels.key_contact1 }}</strong><br />
		  {{ data.key_contact1 }}<br />
		  <a href="mailto:xyz">contact.one@food.gov.uk</a></p>
		  </div>
		  {% endif %}
		  
		  {% if data.key_contact2 %}
		  <div class="p-2 flex-fill bd-highlight key-contact">
		  <p><strong>{{ labels.key_contact2 }}</strong><br />
		  {{ data.key_contact2 }}<br />
		  <a href="mailto:xyz">contact.two@food.gov.uk</a></p>
		  </div>
		  {% endif %}
		  
		  {% if data.key_contact3 %}
		  <div class="p-2 flex-fill bd-highlight key-contact">
		  <p><strong>{{ labels.key_contact3 }}</strong><br />
		  {{ data.key_contact3 }}<br />
		  <a href="mailto:xyz">contact.three@food.gov.uk</a></p>
		  </div>
		  {% endif %}
		</div>
		{% endif %}
				
		{% if data.team or data.supplier %}
		<div class="mb-3">
		{% if data.team %}<p><strong>{{ labels.team }} </strong><br />{{ data.team }} </p>{% endif %}
		{% if data.supplier %}<p><strong>{{ labels.supplier }} </strong><br />{{ data.supplier }}</p>{% endif %}
		</div>
		{% endif %}
		
		{%if data.project_team_option1 %}<div class="small-flag mb-3">{{labels.project_team_option1}}: {{data.project_team_option1}}</div> {% endif %}
		{%if data.project_team_option2 %}<div class="small-flag mb-3">{{labels.project_team_option2}}: {{data.project_team_option2}}</div> {% endif %}
		
		
		{% if data.project_team_setting1 or data.project_team_setting2 %}
		<div class="mb-3">
		<p>
		{% if data.project_team_setting1 %}<strong>{{labels.project_team_setting1}}:</strong>{{data.project_team_setting1}} {% endif %}
		{% if data.project_team_setting2 %}<br /><strong>{{labels.project_team_setting2}}:</strong>{data.project_team_setting2}}{% endif %}
		</p>
		</div>
		{% endif %}
		
		</div>
		{% endif %}





		<!-- Updates (always displayed, even if just to indicate there are no updates) -->
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s4'); arrow('a4')">Updates &nbsp;&nbsp; <i id="a4" class="arrow down"></i></h2>
		<div id="s4" style="display:none;">
		{% if data.updates.length > 0 %}
		<ul id="myList">
			{% for update in data.updates %}
			<li><p style="white-space: pre-wrap;"><span style="font-weight:700">{{ update.timestamp | date(globals.timestampFormat) | safe }}</span> - {{ update.text | safe }}</p></li>
			{% endfor %}
		</ul>

		<p><span id="loadMore" style="font-weight:800; cursor:pointer;">Load more</span> <span id="showLess" style="font-weight:800; cursor:pointer;">| Show less</span></p>
		{% else %}

		<p><strong> No updates</strong></p>
		{% endif %}
		
		{% if data.forward_look %}<br /><p class="infobox"><strong>{{ labels.forward_look }}</strong><br />{{ data.forward_look }}</p>{% endif %}
		{% if data.emerging_issues %}<br /><p class="infobox"><strong>{{ labels.emerging_issues}}</strong><br />{{ data.emerging_issues }}</p>{% endif %}
		
		</div>
		
		

		<!-- Milestones TODO -->
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s5'); arrow('a5')">Milestones&nbsp;&nbsp; <i id="a5" class="arrow down"></i></h2>
		
		<div class="mb-3" id="s5" style="display:none;">
		<table class="table">
		  <thead class="thead-light">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Name</th>
			  <th scope="col">Deadline</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>Milestone 1</td>
			  <td>30th Sept 2020</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>Milestone 2</td>
			  <td>1st Nov 2020</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>Milestone 3</td>
			  <td>31st Dec 2020</td>
			</tr>
		  </tbody>
		</table>
		</div>
		
		
		
		<!-- Key documents -->
		{% if data.documents and documents.length > 0 %}
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s6'); arrow('a6')">{{labels.documents}}&nbsp;&nbsp; <i id="a6" class="arrow down"></i></h2>
		<div class="row" id="s6" style="display:none;">
		{% for doc in documents %}<div class="col-sm-3 py-3"><a href="{{ doc.link | safe }}">{{ doc.name | safe }}</a></div>{% endfor %}
		</div>
		{% endif %}		
		
		
		<!-- Related projects -->
		{% if data.rels and data.rels.length > 0 %}
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s7'); arrow('a7')">{{labels.rels}}&nbsp;&nbsp; <i id="a7" class="arrow down"></i></h2>
		<div class="row" id="s7" style="display:none;">
		{% for rel in data.rels %}<div class="col-sm-6 py-3"><a href="/{{portfolio}}/projects/{{ rel.project_id }}">{{ rel.project_name }}</a></div>{% endfor %}
		</div>
		{% endif %}

			
		
		<!-- Dependencies -->
		{% if data.dependencies and data.dependencies.length > 0 %}
		<br />
		<hr />
		<h2 class="accordion section" onclick="showhide('s8'); arrow('a8')">This project depends on&nbsp;&nbsp; <i id="a8" class="arrow down"></i></h2>
		<div class="row" id="s8" style="display:none;">
		{% for dep in data.dependencies %}<div class="col-sm-6 py-3"><a href="/{{portfolio}}/projects/{{ dep.project_id }}">{{ dep.project_name }}</a></div> {% endfor %}
		</div>
		{% endif %}


	</div>
	
	
<!-- -------------------------- SIDE BAR -------------------------- -->
	<div class="col-sm-2 py-3">
	<!-- Project plan -->
	{% if data.start_date or data.actstart or data.expendp or data.expend or data.hardend or data.first_completed or data.p_comp or data.project_plan_option1 or data.project_plan_option2 or data.project_plan_setting1 or data.project_plan_setting2 %}
	<hr />
	<h2 class="accordion section" onclick="showhide('s9'); arrow('a9')">Project plan&nbsp;&nbsp; <i id="a9" class="arrow down"></i></h2>
	
	<div id="s9" style="display:none;">
	  
		{% if data.start_date.date %}<p><strong>{{labels.start_date}}</strong><br /> {{ data.start_date.date | date(getProjectDateFormat(data.start_date.flag)) }}</p>{% endif %}
		{% if data.actstart.date %}<p><strong>{{labels.actstart}}</strong><br /> {{ data.actstart.date | date(getProjectDateFormat(data.actstart.flag)) }}</p>{% endif %}
		{% if data.expendp.date %}<p><strong>{{labels.expendp}}</strong><br /> {{ data.expendp.date | date(getProjectDateFormat(data.expendp.flag)) }}</p>{% endif %}
		{% if data.expend.date %}<p><strong>{{labels.expend}}</strong><br /> {{ data.expend.date | date(getProjectDateFormat(data.expend.flag)) }}</p>{% endif %}
		{% if data.actual_end_date.date %}<p><strong>{{labels.actual_end_date}}</strong><br /> {{ data.actual_end_date.date | date(getProjectDateFormat(data.actual_end_date.flag)) }}</p>{% endif %}
		{% if data.hardend.date %}<p><strong>{{labels.hardend}}</strong><br /> {{ data.hardend.date | date(getProjectDateFormat(data.hardend.flag)) }}</p>{% endif %}		
		
		{% if data.p_comp > 0 %}<br /><p><strong>{{labels.p_comp}}</strong> {{ data.p_comp }}%</p>{% endif %}

		{% if data.project_plan_setting1 or data.project_plan_setting2 %}
			<br />
			<p>
			{% if data.project_plan_setting1 %}<strong>{{ labels.project_plan_setting1 }}</strong> {{ data.project_plan_setting1 }}<br />{% endif %}
			{% if data.project_plan_setting2 %}<strong>{{ labels.project_plan_setting2 }}</strong> {{ data.project_plan_setting2 }}{% endif %}
			</p>
		{% endif %}
		
		{% if data.project_plan_option1 %}<br /><div class="small-flag">{{ labels.project_plan_option1 }}: {{ data.project_plan_option1 }}</div>{% endif %}
		{% if data.project_plan_option2 %}project_plan_option1<div class="small-flag">{{ labels.project_plan_option2 }}: {{ data.project_plan_option2 }}</div>{% endif %}
	</div>

	{% endif %}
	
	
	<!-- About the project -->
	{% if data.direct or data.theme or data.project_type or data.project_size or data.link.link or data.strategic_objectives or data.category %}
	<br />
	<hr />
	<h2 class="accordion section" onclick="showhide('s10'); arrow('a10')">About the project&nbsp;&nbsp; <i id="a10" class="arrow down"></i></h2>
	
	<div id="s10" style="display:none;">
		{% if data.direct %}		<p><strong>{{ labels.direct }}</strong><br />{{ data.direct }}</p>{% endif %}
		{% if data.theme %}			<p><strong>{{ labels.theme }}</strong><br />{{ data.theme }}</p>{% endif %}
		{% if data.project_type %}	<p><strong>{{ labels.project_type }}</strong><br />	{{ data.project_type }}</p>{% endif %}
		{% if data.project_size %}	<p><strong>{{ labels.project_size }}</strong><br />{{ data.project_size }}</p>{% endif %}
		{% if data.link.link %}		<p><strong>{{ labels.link }}</strong><br />	<a href="{{ data.link.link }}">{{ data.link.name }}</a>{% endif %}
		{% if data.strategic_objectives %}<p><strong>{{ labels.strategic_objectives }}</strong><br />{{ data.strategic_objectives }}<br />{% endif %}
		{% if data.category %}		<p><strong>{{ labels.category }}</strong><br />{{ data.category }} {{ data.subcat }}<br />{% endif %}
	</div>
	{% endif %}


	<!-- Budget --> 
	{% if data.budgettype or data.cost_centre or data.budget or data.spent or data.forecast_spend or data.budget_option1 or data.budget_option2 or data.budget_field1 or data.budget_field2 %}
	<br />
	<hr />
	<h2 class="accordion section" onclick="showhide('s11'); arrow('a11')">Budget&nbsp;&nbsp; <i id="a11" class="arrow down"></i></h2>
	
	<div id="s11" style="display:none">
		{% if data.budgettype %}	<p><strong>{{ labels.budgettype }}</strong><br />{{ data.budgettype }}</p>{% endif %}
		{% if data.cost_centre %}	<p><strong>{{ labels.cost_centre }}</strong><br />{{ data.cost_centre }}</p>{% endif %}
		{% if data.budget %}		<p><strong>{{ labels.budget }}</strong><br />£{{ data.budget }}</p>{% endif %}
		{% if data.spent %}			<p><strong>{{ labels.spent }}</strong><br />£{{ data.spent }}</p>{% endif %}
		{% if data.forecast_spend %}<p><strong>{{ labels.forecast_spend }}</strong><br />£{{ data.forecast_spend }}</p>{% endif %}
				
		{% if data.budget_field1 or data.budget_field2 %}
			<p>
			{% if data.budget_field1 %}<strong>{{ labels.budget_field1 }}:</strong> {{ data.budget_field1 }}{% endif %}
			{% if data.budget_field2 %}<br /><strong>{{ labels.budget_field2 }}:</strong> {{ data.budget_field2 }}{% endif %}
			</p>
		{% endif %}
		
		{% if data.budget_option1 %}<div class="small-flag">{{ labels.budget_option1 }}: {{ data.budget_option1 }}</div>{% endif %}
		{% if data.budget_option2 %}<div class="small-flag">{{ labels.budget_option2 }}: {{ data.budget_option2 }}</div>{% endif %}
	</div>
	{% endif %}


	
	<!-- FSA processes -->
	{% if data.fsaproc_assurance_gatenumber or data.fsaproc_assurance_gatecompleted or data.fsaproc_assurance_nextgate or data.processes_option1 or data.processes_option2 or data.processes_setting1 or data.processes_setting2 %}
	<br />
	<hr />
	<h2 class="accordion section" onclick="showhide('s12'); arrow('a12')">FSA processes &nbsp;&nbsp; <i id="a12" class="arrow down"></i></h2>
	
	<div id="s12" style="display:none;">
		{% if data.fsaproc_assurance_gatenumber %}		<p><strong>{{ labels.fsaproc_assurance_gatenumber }}</strong><br />		{{ data.fsaproc_assurance_gatenumber }}		</p>{% endif %}
		{% if data.fsaproc_assurance_gatecompleted %}	<p><strong>{{ labels.fsaproc_assurance_gatecompleted }}</strong><br />	{{ data.fsaproc_assurance_gatecompleted.date | date(getProjectDateFormat(data.fsaproc_assurance_gatecompleted.flag)) }}	</p>{% endif %}
		{% if data.fsaproc_assurance_nextgate %}				<p><strong>{{ labels.fsaproc_assurance_nextgate }}</strong><br />		{{ data.fsaproc_assurance_nextgate }}		</p>{% endif %}
		
		{% if data.processes_option1 %}<div class="small-flag">{{ labels.processes_option1 }}: {{ data.processes_option1 }}</div>{% endif %}
		{% if data.processes_option2 %}<div class="small-flag">{{ labels.processes_option2 }}: {{ data.processes_option2 }}</div>{% endif %}
		
		{% if data.processes_setting1 or data.processes_setting2 %}
		<p>
			{% if data.processes_setting1 %}<strong>{{ labels.processes_setting1 }}</strong>{{ data.processes_setting1 }}{% endif %}
			{% if data.processes_setting2 %}<br /><strong>{{ labels.processes_setting2 }}</strong> {{ data.processes_setting2 }}{% endif %}
		</p>
		{% endif %}
	</div>
	{% endif %}


	</div>

</div>
<div class="col-sm-1 py-3">
</div>


{% endblock %}
