{% extends "theme/layout.html" %}
{% block head %}
<!-- Script for hiding/ showing updates -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		size_li = $("#myList li").length;
		x = 1;
		$('#myList li:lt(' + x + ')').show();
		$('#loadMore').click(function () {
			x = (x + 1 <= size_li) ? x + 1 : size_li;
			$('#myList li:lt(' + x + ')').show();
			$('#showLess').show();
			if (x == size_li) {
				$('#loadMore').hide();
			}
		});
		$('#showLess').click(function () {
			x = (x - 1 < 0) ? 1 : x - 1;
			$('#myList li').not(':lt(' + x + ')').hide();
			$('#loadMore').show();
			$('#showLess').show();
			if (x == 1) {
				$('#showLess').hide();
			}
		});
	});
</script>
{% endblock %}

{% block content %}
<!-- Project IDs & Edit/ Delete links -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-7 col-md-7 col-sm-6 py-3">
		<p>
			<strong>{{labels.project_id}}: </strong>{{ data.project_id }}

			<!-- Test if up to two other project IDs are passed, and display -->

		</p>
	</div>

	<!-- Change for access groups -->
	<div class="col-xl-3 col-md-3 col-sm-4 py-3 text-right">
		{% if user == 'portfolio' %}
		<a href="/{{portfolio}}/delete/{{ data.project_id }}">Delete</a> |
		<a href="/{{portfolio}}/edit/{{ data.project_id }}">Update</a>
		{% elif user == 'odd' or  user == 'team_leaders'%}
		<a href="/{{portfolio}}/edit/{{ data.project_id }}">Update this project</a>
		{% endif%}
	</div>

	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<!-- Project title -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-xl-10 col-md-10 col-sm-10 py-3">
		<h1 class="project-title">
			{{ data.project_name | safe }}
			{% if data.new_flag == 'Y' %}<span class="project-new">NEW</span>{% endif %}
		</h1>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>


<!-- Projet description, flags and status -->
<div class="row">
	<div class="col-sm-1 py-3"></div>

	<div class="col-sm-8 py-3 pr-5">
		<!-- Short description -->
		{% if data.short_desc %}
		<p class="desc-para">{{ data.short_desc | safe }}</p><br />
		{% endif %}

		<!-- Priority -->
		{% if data.priority_main %}
		<strong>{{labels.priority_main}}:</strong>
		<div class="small-flag priority">{{data.pgroup | capitalize }} ({{ data.priority_main }})</div>&nbsp;&nbsp;&nbsp;
		{% endif %}

		<!-- RAG -->
		{% set rags = { 'red': 'Red', 'redamb': 'Red-Amber', 'amb': 'Amber', 'ambgre': 'Amber-Green', 'gre': 'Green']%}
		{% if rags[data.rag] %}
		<strong>{{labels.rag}}:</strong>
		<div class="small-flag rag-{{data.rag}}">{{ rags[data.rag] }}</div>
		{% endif%}

		<!-- Status --><!-- drop-down position shouldn't be the one indicating the onhold status is unset for a particular projet -->
		{% if data.onhold and data.onhold != 'No' %}
		<strong>{{labels.onhold}}:</strong>
		<div class="small-flag onhold"><strong>{{ data.onhold }}</strong></div>
		{% endif %}

		<!-- Risk rating -->
		{% if data.risk_rating %}
		<strong>{{labels.risk_rating}}:</strong>
		<div class="small-flag risk"><strong>{{ data.risk_rating }}</strong></div>
		{% endif %}
	</div>

	<!-- Phase indicator -->
	<div class="col-sm-2 py-3 phase {{data.phaseviewkey}}">
		<p class="phase-label">{{ data.phase | title }}</p>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>


<!-- Project team - list + lead, lead role, DM and directorate -->
<div class="row">
	<div class="col-sm-1 py-3"></div>
	<div class="col-sm-8 py-3 pr-5">

		{% if data.team %}
		<hr />
		<h2 class="heading-medium">{{ labels.team }}</h2>
		<p>{{ data.team }}</p>
		<br />
		<br />
		{% endif %}

		<hr />
		{% if data.updates.length > 0 %}
		<h2 class="heading-medium">{{labels.update}}</h2>

		<ul id="myList">
			{% for update in data.updates %}
			<li><p style="white-space: pre-wrap;"><span style="font-weight:700">{{ update.timestamp | date(globals.timestampFormat) | safe }}</span> - {{ update.text | safe }}</p></li>
			{% endfor %}
		</ul>

		<p><span id="loadMore" style="font-weight:800;">Load more</span> <span id="showLess" style="font-weight:800;">| Show less</span></p>
		<br /><br />
		{% else %}

		<h2 class="heading-medium"> No updates</h2>
		<br /><br />
		{% endif %}


		{% if data.documents.length > 0 %}
		<h2 class="heading-medium">{{labels.documents}}</h2>
		{% for doc in data.documents %}
		<div class="container">
			<div class="equalsplit2"><a href="{{ doc.link | safe }}">{{ doc.name | safe }}</a></div>
		</div>
		<br />
		{% endfor %}
		<br /><br />
		{% endif %}

		{% if deps_cnt > 0 %}
		<h2 class="heading-medium">{{labels.dependencies}}</h2>

		{% for dep in data.dependencies %}
		<a href="/projects/{{ dep.project_id }}">{{ dep.project_name }}</a><br />
		{% endfor %}

		{% endif %}

		{% if data.rels and data.rels.length > 0 %}

		<h2 class="heading-medium">{{labels.rels}}</h2>

		{% for rel in data.rels %}
		<a href="/{{portfolio}}/projects/{{ rel.project_id }}">{{ rel.project_name }}</a><br />
		{% endfor %}
		<br /><br />
		{% endif %}

	</div>
	<div class="col-sm-2 py-3">
		<br />
		{% if data.direct and data.direct != 'NONE' %}
		<h3 class="heading-small">{{labels.direct}}</h3>
		<p>{{ data.direct }}</p>
		{% endif %}

		{% if data.oddlead %}<h3 class="heading-small">{{labels.oddlead}}</h3>
		<p>
			{{ data.oddlead | safe }}<br />
			<a href="mailto:{{ data.oddlead_email }}">{{ data.oddlead_email | safe}}</a>
		</p>

		{% if data.oddlead_role == 'sup' or data.oddlead_role == 'imp' or data.oddlead_role == 'man' %}
		<h3 class="heading-small">{{labels.oddlead_role}}</h3>
		<p>
			{% if data.oddlead_role == 'sup' %} Support
			{% elif data.oddlead_role == 'imp' %} Implementation
			{% elif data.oddlead_role == 'man' %} Management
			{% endif %}
		</p>
		{% endif %}

		{% else %}
		<p>{{ data.oddlead | default('Not set') }}</p>
		{% endif %}

		{% if data.servicelead %}
		<h3 class="heading-small">{{labels.servicelead_email}}</h3>

		<p>
			{{ data.servicelead | safe }}<br />
			<a href="mailto:{{ data.servicelead_email }}">{{ data.servicelead_email | safe}}</a>
		</p>
		{% endif %}

		{% if data.start_date or data.actstart or data.expendp or data.expend or data.hardend or data.first_completed %}
		<br /><h3 class="heading-small">Key dates</h3>
			  <p>
			  	{% if data.start_date.date %}{{labels.start_date}}:<br /> {{ data.start_date.date | date(getProjectDateFormat(data.start_date.flag)) }} <br /><br />{% endif %}
			  	{% if data.actstart.date %}{{labels.actstart}}:<br /> {{ data.actstart.date | date(getProjectDateFormat(data.actstart.flag)) }}<br /><br />{% endif %}
			  	{% if data.expendp.date %}{{labels.expendp}}:<br /> {{ data.expendp.date | date(getProjectDateFormat(data.expendp.flag)) }} <br /><br />{% endif %}
			  	{% if data.expend.date %}{{labels.expend}}:<br /> {{ data.expend.date | date(getProjectDateFormat(data.expend.flag)) }} <br /><br />{% endif %}
			  	{% if data.hardend.date %}{{labels.hardend}}:<br /> {{ data.hardend.date | date(getProjectDateFormat(data.hardend.flag)) }}<br /><br />{% endif %}
			  	{% if data.actual_end_date.date %}{{labels.actual_end_date}}:<br /> {{ data.actual_end_date.date | date(getProjectDateFormat(data.actual_end_date.flag)) }}<br /><br />{% endif %}
			  </p>

		{% endif %}

		{% if data.p_comp > 0 %}
		<h3 class="heading-small">{{labels.p_comp}}</h3>
		<p>
			{{ data.p_comp }}%
		</p>
		{% endif %}

		{% if data.project_size or data.link %} <br /> {% endif %}

		{% if data.project_size %}
		<h3 class="heading-small">{{labels.project_size}}</h3>
		<p>{{ data.project_size }}</p>
		{% endif %}

		{% if data.link %}
		<h3 class="heading-small">{{labels.link}}</h3>

		<a href="{{ link.link }}" target="_blank" title="Project channel">
			<p>{{ link.name }}</p>
		</a>
		{% endif %}


		{% if (data.budget) and (group != 'supplier') %}

		<br /><h3 class="heading-small">Budget</h3>
		{% if data.budget == 0 %}	Not applicable

		{% else %}
		<strong>{{labels.budgettype}}:</strong> {{ data.budgettype }} <br />
		<strong>{{labels.budget}}:</strong> {{ budget }} <br />
		{% if data.spent %}	<strong>{{labels.spent}}:</strong> {{ spent }} {% endif %}
		{% endif %}


		{% endif %}
	</div>

</div>
<div class="col-sm-1 py-3">
</div>
<div class="col-sm-1 py-3"></div>
</div>

{% endblock %}
