{% extends "theme/layout.html" %}

{% block content %}

<!-- Project Type -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-6 col-md-5 col-sm-10">
		<h1>{{project_type}}</h1>
	</div>
	<div class="col-xl-4 col-md-5 col-sm-10">
		<form class="form-inline float-right" action="/{{portfolio}}/projectType?summaryType={{summaryType}}" method="post" novalidate>
			<div class="form-group mb-2">
				<label for="id_project_type" style="margin-right:0.5em;">Select a {{labels.project_type}} to view:</label>
				<select class="form-control form-input-box" id="id_project_type" aria-label="{{labels.project_type}}" name="project_type">
					{% for option in summary.project_type %}
					<option value="{{option.value}}" aria-label="{{option.display}}" {{ "selected" if option.value == project_type }}>{{option.display}}</option>
					{% endfor %}
				</select>
				<button class="general-button" type="submit">View</button>
			</div>
		</form>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>

<!-- Top navigation links -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-10 col-md-10 col-sm-10">
		<p>
			Order by: <a href="/{{portfolio}}">{{labels.category}}</a>,
			<a href="/{{portfolio}}/priority/">{{labels.pgroup}}</a>,
			<a href="/{{portfolio}}/team/">{{labels.g6team}}</a>,
			<a href="/{{portfolio}}/lead/">{{labels.oddlead}}</a>,
			<a href="/{{portfolio}}/rag/">{{labels.rag}}</a> or
			<a href="/{{portfolio}}/status/">{{labels.phase}}</a>.
			You can also <a href="/{{portfolio}}/filter-view">filter projects</a> or
			<a href="/{{portfolio}}/user?reset=true">view your projects</a>.
		</p>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>

<!-- Numbers in each stage -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	{% for phase in summary.phases %}
	<div class="col-xl-2 col-md-2 col-sm-2 py-3"><a href="/{{portfolio}}/status#{{phase.viewkey}}" class="summ_links"><div class="tag {{phase.viewkey}}">	{{phase.name}}		</div><div class="big_number txt-{{phase.viewkey}}">	{{ phase.count }}	</div></a></div>
	{% endfor %}
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<br />
<br />
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-sm-10">
		{% for summary in summary.summaries %}
		<h2 class="heading-large service-area"><a name="{{ summary.viewkey }}" class="anchors special-link">{{ summary.name | safe }}</a></h2>
		{% for phase in summary.phases %}
		{% if phase.projects.length > 0 %}
		<ul class="link-list border-{{phase.viewkey}}">
			{% for project in phase.projects %}
			<li>
				<a href="/{{portfolio}}/projects/{{ project.project_id }}">{{ project.name | safe}}</a>
				{% if project.date.value.date %}
				<div class="project-summary-data">
					<label>{{project.date.label}}:</label>
					<span>{{ project.date.value.date | date(getProjectDateFormat(project.date.value.flag))}}</span>
				</div>
				{% endif %}
				{% if project.priority.value %}
				<div class="project-summary-data">
					<label>{{project.priority.label}}:</label>
					<span>{{project.priority.value}}</span>
				</div>
				{% endif %}
				{% if project.new_flag == 'Y' %}
				<span class="new_tag">NEW</span>
				{% endif %}
			</li>
			<br />
			{% endfor %}
		</ul>
		{% else %}
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>
<br />
<br />
{% endblock %}
