{% extends "theme/layout.html" %}

{% block content %}

<!-- Numbers in each stage -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	{% for phase in summary.phases %}
	<div class="col-xl-2 col-md-2 col-sm-2 py-3"><a href="/{{portfolio}}/status#{{phase.viewkey}}" class="summ_links"><div class="tag {{phase.viewkey}}">	{{phase.name}}		</div><div class="big_number txt-{{phase.viewkey}}">	{{ phase.count }}	</div></a></div>
	{% endfor %}
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<br />
<br />
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-sm-10">
		{% for summary in summary.summaries %}
		<h2 class="heading-large service-area"><a name="{{ summary.viewkey }}" class="anchors special-link">{{ summary.name | safe }}</a></h2>
		{% for phase in summary.phases %}
		{% if phase.projects.length > 0 %}
		<div class="link-list border-{{phase.viewkey}}">
			{% for project in phase.projects %}
			<div class="list-item">
				<div class="project-summary-wrapper">
					<a href="/{{portfolio}}/projects/{{ project.project_id }}">{{ project.name | safe}}</a>
					{% if project.date.value.date %}
					<div class="project-summary-data">
						<label>{{project.date.label}}:</label>
						<span>{{ project.date.value.date | date(getProjectDateFormat(project.date.value.flag))}}</span>
					</div>
					{% endif %}
					{% if project.priority.value %}
					<div class="project-summary-data">
						<label>{{project.priority.label}}:</label>
						<span>{{project.priority.value}}</span>
					</div>
					{% endif %}
					{% if project.new_flag == 'Y' %}
					<span class="new_tag">NEW</span>
					{% endif %}
				</div>
			</div>
			<br />
			{% endfor %}
		</div>
		{% else %}
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>
<br />
<br />
{% endblock %}
