{% extends "theme/layout.html" %}

{% block head %}
{% include "theme/accordion.html" %}
{% endblock %}

{% block content %}

<!-- Project Type -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-4 col-md-4 col-sm-10">
		<h1>{{project_type}}</h1>
	</div>
	<div class="col-xl-6 col-md-6 col-sm-10">
		<form class="form-inline float-right" action="/{{portfolio}}/projectType?summaryType={{summaryType}}" method="post" novalidate>
			<div class="form-group mb-2">
				<label for="id_project_type" style="margin-right:0.5em;">Select a {{labels.project_type}} to view:</label>
				<select class="form-control form-input-box" id="id_project_type" aria-label="{{labels.project_type}}" name="project_type">
					{% for option in summary.project_type %}
					<option value="{{option.value}}" aria-label="{{option.display}}" {{ "selected" if option.value == project_type }}>{{option.display}}</option>
					{% endfor %}
				</select>
				<button class="general-button" type="submit">View</button>
			</div>
		</form>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>


<!-- Top navigation links -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-10 col-md-10 col-sm-10">
		<p>
			Order by: <a href="/{{portfolio}}" data-cy="summary-nav-link">{{labels.category}}</a>,
			<a href="/{{portfolio}}/priority/" data-cy="summary-nav-link">{{labels.pgroup}}</a>,
			<a href="/{{portfolio}}/team/" data-cy="summary-nav-link">{{labels.g6team}}</a>,
			<a href="/{{portfolio}}/lead/" data-cy="summary-nav-link">{{labels.oddlead}}</a>,
			<a href="/{{portfolio}}/rag/" data-cy="summary-nav-link">{{labels.rag}}</a> or
			<a href="/{{portfolio}}/status/" data-cy="summary-nav-link">{{labels.phase}}</a>.
			You can also <a href="/{{portfolio}}/filter-view" data-cy="summary-nav-link">filter projects</a> or
			<a href="/{{portfolio}}/user?reset=true" data-cy="summary-nav-link">view your projects</a>.
		</p>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>



<!-- Numbers in each stage -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	{% for phase in summary.phases %}
	<div class="col-xl-2 col-md-2 col-sm-2 py-3"><a href="/{{portfolio}}/status#{{phase.viewkey}}" class="summ_links"><div class="tag {{phase.viewkey}}">	{{phase.name}}		</div><div class="big_number txt-{{phase.viewkey}}">	{{ phase.count }}	</div></a></div>
	{% endfor %}
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<br />
<br />

<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-10 col-md-10 col-sm-10"><button class="accordion service-area open general-button" id="toggleallbutton" onclick="showhideall('toggleallbutton')">Show/Hide All &nbsp; <i id="ashowhideall" class="arrow up" style="vertical-align: middle;"></i></button></div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>

<br />
<br />

{% for summary in summary.summaries %}

{% set safeViewKey = summary.viewkey | replace(r/[^A-Za-z0-9]+/g, '')%}

<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-10 col-md-10 col-sm-10"><h2 class="accordion service-area" onclick="showhide('{{ safeViewKey }}'); arrow('a{{ safeViewKey }}')"><a name="{{ summary.viewkey }}" class="anchors special-link">{{ summary.name }} <i id="a{{ safeViewKey }}" class="arrow up"></i></a></h2><hr /></div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>

<div class="row" id="{{ safeViewKey }}">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	{% for phase in summary.phases %}

	<div class="col-xl-2 col-md-2 col-sm-2 py-3">
		{% if phase.projects.length > 0 %}

		<div class="link-list border-{{phase.viewkey}}">
			{% for project in phase.projects %}
			<div {% if summary.actions and project.actions %}class="list-item project-actions" {%else%}class="list-item" {% endif %}>
				<div class="project-wrapper">
					<div class="project-summary-wrapper">
						<a href="/{{portfolio}}/projects/{{ project.project_id }}" class="nodec">{{ project.name | safe}}</a>
						{% if project.date.value.date %}
						<div class="project-summary-data">
							<label>{{project.date.label}}:</label>
							<span>{{ project.date.value.date | date(getProjectDateFormat(project.date.value.flag))}}</span>
						</div>
						{% endif %}
						{% if project.priority.value %}
						<div class="project-summary-data">
							<label>{{project.priority.label}}:</label>
							<span>{{project.priority.value}}</span>
						</div>
						{% endif %}
						{% if project.new_flag == 'Y' %}
						<span class="new_tag">NEW</span>
						{% endif %}
					</div>
					{% if summary.actions and project.actions %}
					<div class="project-summary-wrapper project-summary-data project-actions-data">
						<label>Action needed:</label>
						<span>{{project.actions.summary}}</span>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>

		{% else %}
		&nbsp;
		{% endif %}
	</div>

	{% endfor %}

	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>
<br />
<br />
{% endfor %}

{% endblock %}
