{% extends "theme/layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/css/ajax-bootstrap-select.min.css" integrity="sha512-k9D6Fzp2d9BxewMk+gYYmlGYxv7DLVC46DiCRv3DrAwBkbjSBZCnhBhWCugLuhkTS36QgQ3h7BwkkkfkJk7cXQ==" crossorigin="anonymous" />
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-6 col-md-5 col-sm-10">
		<h1>{{summary.person}}</h1>
	</div>
	<div class="col-xl-4 col-md-5 col-sm-10">
		<form name="personviewform" class="form-inline float-right" action="/{{portfolio}}/user" method="post" novalidate>
			<div class="form-group mb-2">
				<select id="selectperson" class="form-control adusersearch" data-abs-ajax-type="GET" data-abs-ajax-url="/{{portfolio}}/search/users" aria-label="User search" name="userSearch" data-live-search="true" data-style="form-input-box">
					<option value="" selected disabled>Search for another user...</option>
				</select>
			</div>
		</form>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>



<!-- Top navigation links -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
	<div class="col-xl-10 col-md-10 col-sm-10">
		<p>
			Order by: <a href="/{{portfolio}}/category/user">{{labels.category}}</a>,
			<a href="/{{portfolio}}/priority/user">{{labels.pgroup}}</a>,
			<a href="/{{portfolio}}/team/user">{{labels.g6team}}</a>,
			<a href="/{{portfolio}}/lead/user">{{labels.oddlead}}</a>,
			<a href="/{{portfolio}}/rag/user">{{labels.rag}}</a> or
			<a href="/{{portfolio}}/status/user">{{labels.phase}}</a>.
			You can also <a href="/{{portfolio}}/filter-view">filter projects</a> or
			<a href="/{{portfolio}}/user?reset=true">view your projects</a>.
		</p>
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1"></div>
</div>

<!-- Numbers in each stage -->
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	{% for phase in summary.phases %}
	<div class="col-xl-2 col-md-2 col-sm-2 py-3"><a href="/{{portfolio}}/status#{{phase.viewkey}}" class="summ_links"><div class="tag {{phase.viewkey}}">	{{phase.name}}		</div><div class="big_number txt-{{phase.viewkey}}">	{{ phase.count }}	</div></a></div>
	{% endfor %}
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>

<br />
<br />
<div class="row">
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
	<div class="col-sm-10">
		{% for summary in summary.summaries %}
		<h2 class="heading-large service-area"><a name="{{ summary.viewkey }}" class="anchors special-link">{{ summary.name | safe }}</a></h2>
		{% for phase in summary.phases %}
		{% if phase.projects.length > 0 %}
		<ul class="link-list person-view border-{{phase.viewkey}}">
			{% for project in phase.projects %}
			<li>
				<a href="/{{portfolio}}/projects/{{ project.project_id }}" class="nodec">{{ project.name | safe}}</a>
				{% if project.date.value.date %}
				<div class="project-summary-data">
					<label>{{project.date.label}}:</label>
					<span>{{ project.date.value.date | date(getProjectDateFormat(project.date.value.flag))}}</span>
				</div>
				{% endif %}
				{% if project.priority.value %}
				<div class="project-summary-data">
					<label>{{project.priority.label}}:</label>
					<span>{{project.priority.value}}</span>
				</div>
				{% endif %}
				{% if project.new_flag == 'Y' %}
				<span class="new_tag">NEW</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div class="col-xl-1 col-md-1 col-sm-1 py-3"></div>
</div>
<br />
<br />
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.5/js/ajax-bootstrap-select.min.js" integrity="sha512-HExUHcDgB9r00YwaaDe5z9lTFmTChuW9lDkPEnz+6/I26/mGtwg58OHI324cfqcnejphCl48MHR3SFQzIGXmOA==" crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		var $ums = $('.adusersearch').selectpicker({ liveSearch: true }).ajaxSelectPicker();
        $('#selectperson').on('changed.bs.select', function () {
            document.forms["personviewform"].submit();
        });
	});
</script>

{% endblock %}